doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Make Offer
  body
    h1 Make an Offer
    button(onclick="uiMakeChat()") Make Offer
    script(src="/js/lib/openpgp.min.js")
    script(src="/js/app/chatroom.js")
    script.
      async function uiMakeChat() {
        const keys = await makeNewKey();
        const response = await fetch('/api/chat/make-offer', {
          method: "POST",
          cache: "no-cache",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(pluckPub(keys)),
        });
        const { token } = await response.json();
        console.log('Generated chat ID:', token);
        saveKey(keys, token);
        alert(`Make Offer URL: /ui/chat/room/${token}\nAccept Offer URL: /ui/chat/accept-offer/${token}`);
        window.location.href = `/ui/chat/room/${token}`;
      }
